In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
#import pandas_profiling

In [2]:
#load data
df = pd.read_csv(r"F:\Codes\AI WORKSHOP\data\Bank_churn_modelling.csv")
df.shape

(10000, 14)

# Data Exploration

In [3]:
df.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [4]:
df.columns

Index(['RowNumber', 'CustomerId', 'Surname', 'CreditScore', 'Geography',
       'Gender', 'Age', 'Tenure', 'Balance', 'NumOfProducts', 'HasCrCard',
       'IsActiveMember', 'EstimatedSalary', 'Exited'],
      dtype='object')

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 14 columns):
RowNumber          10000 non-null int64
CustomerId         10000 non-null int64
Surname            10000 non-null object
CreditScore        10000 non-null int64
Geography          10000 non-null object
Gender             10000 non-null object
Age                10000 non-null int64
Tenure             10000 non-null int64
Balance            10000 non-null float64
NumOfProducts      10000 non-null int64
HasCrCard          10000 non-null int64
IsActiveMember     10000 non-null int64
EstimatedSalary    10000 non-null float64
Exited             10000 non-null int64
dtypes: float64(2), int64(9), object(3)
memory usage: 1.1+ MB

In [6]:
# check for unique values in geography and gender
df.Gender.unique()

array(['Female', 'Male'], dtype=object)

In [7]:
# check for unique values in geography and gender
df.Geography.unique()

array(['France', 'Spain', 'Germany'], dtype=object)

In [8]:
df.describe()

,RowNumber,CustomerId,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
count,10000.00000,1.000000e+04,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.00000,10000.000000,10000.000000,10000.000000
mean,5000.50000,1.569094e+07,650.528800,38.921800,5.012800,76485.889288,1.530200,0.70550,0.515100,100090.239881,0.203700
std,2886.89568,7.193619e+04,96.653299,10.487806,2.892174,62397.405202,0.581654,0.45584,0.499797,57510.492818,0.402769
min,1.00000,1.556570e+07,350.000000,18.000000,0.000000,0.000000,1.000000,0.00000,0.000000,11.580000,0.000000
25%,2500.75000,1.562853e+07,584.000000,32.000000,3.000000,0.000000,1.000000,0.00000,0.000000,51002.110000,0.000000
50%,5000.50000,1.569074e+07,652.000000,37.000000,5.000000,97198.540000,1.000000,1.00000,1.000000,100193.915000,0.000000
75%,7500.25000,1.575323e+07,718.000000,44.000000,7.000000,127644.240000,2.000000,1.00000,1.000000,149388.247500,0.000000
max,10000.00000,1.581569e+07,850.000000,92.000000,10.000000,250898.090000,4.000000,1.00000,1.000000,199992.480000,1.000000

#  Data Cleaning

In [9]:
#check for duplicates
df.duplicated().sum()

0

In [10]:
#check for missing values
df.isnull().sum()

RowNumber          0
CustomerId         0
Surname            0
CreditScore        0
Geography          0
Gender             0
Age                0
Tenure             0
Balance            0
NumOfProducts      0
HasCrCard          0
IsActiveMember     0
EstimatedSalary    0
Exited             0
dtype: int64

In [11]:
# data profiling
#df.profile_report()

# Feature Engineering
     -Feature Extraction
     -Feature Selection

In [12]:
df.columns

Index(['RowNumber', 'CustomerId', 'Surname', 'CreditScore', 'Geography',
       'Gender', 'Age', 'Tenure', 'Balance', 'NumOfProducts', 'HasCrCard',
       'IsActiveMember', 'EstimatedSalary', 'Exited'],
      dtype='object')

In [13]:
df.drop(["Surname","RowNumber","CustomerId"],axis=1,inplace=True)
df.columns

Index(['CreditScore', 'Geography', 'Gender', 'Age', 'Tenure', 'Balance',
       'NumOfProducts', 'HasCrCard', 'IsActiveMember', 'EstimatedSalary',
       'Exited'],
      dtype='object')

In [14]:
x = df[['CreditScore', 'Geography', 'Gender', 'Age', 'Balance',
       'NumOfProducts', 'IsActiveMember']]
y = df["Exited"]

# Preprocessing

In [15]:
x.head()

,CreditScore,Geography,Gender,Age,Balance,NumOfProducts,IsActiveMember
0,619,France,Female,42,0.00,1,1
1,608,Spain,Female,41,83807.86,1,1
2,502,France,Female,42,159660.80,3,0
3,699,France,Female,39,0.00,2,0
4,850,Spain,Female,43,125510.82,1,1

In [16]:
#LabelEncoder
from sklearn.preprocessing import LabelEncoder
le1 = LabelEncoder()
x["Gender"] = le1.fit_transform(x["Gender"])

C:\Users\Bijeet Nath\AppData\Roaming\Python\Python37\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

In [60]:
#One hot encoding for geography
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer
ct=ColumnTransformer([('encoder',OneHotEncoder(),[1])],remainder='passthrough')
x=ct.fit_transform(x)

C:\Users\Bijeet Nath\Anaconda3\lib\site-packages\sklearn\preprocessing\_encoders.py:415: FutureWarning: The handling of integer data will change in version 0.22. Currently, the categories are determined based on the range [0, max(values)], while in the future they will be determined based on the unique values.
If you want the future behaviour and silence this warning, you can specify "categories='auto'".
In case you used a LabelEncoder before this OneHotEncoder to convert the categories to integers, then you can now use the OneHotEncoder directly.
  warnings.warn(msg, FutureWarning)

In [17]:
#LabelEncoder
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import OneHotEncoder
le1 = LabelEncoder()
x["Geography"] = le1.fit_transform(x["Geography"])
ohe = OneHotEncoder(categorical_features=[1])
x = ohe.fit_transform(x).toarray()
x.shape

C:\Users\Bijeet Nath\AppData\Roaming\Python\Python37\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """
C:\Users\Bijeet Nath\Anaconda3\lib\site-packages\sklearn\preprocessing\_encoders.py:415: FutureWarning: The handling of integer data will change in version 0.22. Currently, the categories are determined based on the range [0, max(values)], while in the future they will be determined based on the unique values.
If you want the future behaviour and silence this warning, you can specify "categories='auto'".
In case you used a LabelEncoder before this OneHotEncoder to convert the categories to integers, then you can now use the OneHotEncoder directly.
  warnings.warn(msg, FutureWarning)
C:\Users\Bijeet Nath\Anaconda3\lib\site-packages\sklearn\preprocessing\_encoders.py:451: DeprecationWarning: The 'categorical_features' keyword is deprecated in version 0.20 and will be removed in 0.22. You can use the ColumnTransformer instead.
  "use the ColumnTransformer instead.", DeprecationWarning)

(10000, 9)

In [18]:
x = pd.DataFrame(x)
x.head()

     0    1    2      3    4     5          6    7    8
0  1.0  0.0  0.0  619.0  0.0  42.0       0.00  1.0  1.0
1  0.0  0.0  1.0  608.0  0.0  41.0   83807.86  1.0  1.0
2  1.0  0.0  0.0  502.0  0.0  42.0  159660.80  3.0  0.0
3  1.0  0.0  0.0  699.0  0.0  39.0       0.00  2.0  0.0
4  0.0  0.0  1.0  850.0  0.0  43.0  125510.82  1.0  1.0

In [39]:
from sklearn.preprocessing import StandardScaler
sc=StandardScaler()
x=sc.fit_transform(x)

In [40]:
# splitting data into train and test set
from sklearn.model_selection import train_test_split
xtr,xts,ytr,yts = train_test_split(x,y,test_size = 0.2)
print(x.shape)
print(xtr.shape)
print(xts.shape)

(10000, 9)
(8000, 9)
(2000, 9)

# Apply Machine Learning Algorithm

In [41]:
from sklearn.linear_model import LogisticRegression
model = LogisticRegression()

In [42]:
#train the model using training data
model.fit(xtr,ytr)

C:\Users\Bijeet Nath\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='warn', n_jobs=None, penalty='l2',
                   random_state=None, solver='warn', tol=0.0001, verbose=0,
                   warm_start=False)

In [43]:
new_customer = [[1,0,0,580,1,58,456782,3,0]]

In [44]:
model.predict(new_customer)

array([1], dtype=int64)

In [45]:
#check performance of model on test data 
#getting prediction for test data
ypred=model.predict(xts)
from sklearn import metrics
metrics.accuracy_score(yts,ypred)

0.8045

In [46]:
#calculate recall
metrics.recall_score(yts,ypred)

0.2327790973871734

# Model 2

In [47]:
# using K Neighbors Classifier
from sklearn.neighbors import KNeighborsClassifier
model2=KNeighborsClassifier(n_neighbors=3)
model2.fit(xtr,ytr)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
                     metric_params=None, n_jobs=None, n_neighbors=3, p=2,
                     weights='uniform')

In [48]:
ypred2=model2.predict(xts)
metrics.accuracy_score(yts,ypred2)

0.83

In [49]:
metrics.recall_score(yts,ypred2)

0.4916864608076009

# Model 3 - Decision Tree Algorithm

In [50]:

from sklearn.tree import DecisionTreeClassifier
model3=DecisionTreeClassifier(criterion='gini')
#train the model
model3.fit(xtr,ytr)

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
                       max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort=False,
                       random_state=None, splitter='best')

In [51]:
ypred3=model3.predict(xts)
metrics.accuracy_score(yts,ypred3)

0.7965

In [52]:
metrics.recall_score(yts,ypred3)

0.5273159144893111

In [53]:
#Avoiding overfitting

from sklearn.tree import DecisionTreeClassifier
model3=DecisionTreeClassifier(criterion='gini', max_depth=8,min_samples_leaf=10)
#train the model
model3.fit(xtr,ytr)

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=8,
                       max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=10, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort=False,
                       random_state=None, splitter='best')

In [54]:
ypred3=model3.predict(xts)
metrics.accuracy_score(yts,ypred3)

0.847

In [55]:
metrics.recall_score(yts,ypred3)

0.4916864608076009

In [56]:
metrics.recall_score(ytr,model3.predict(xtr))

0.5371287128712872

# Model 4 -Random Forest

In [57]:
from sklearn.ensemble import RandomForestClassifier
model4=RandomForestClassifier(n_estimators=50,criterion='gini',max_depth=10,min_samples_leaf=20)
model4.fit(xtr,ytr)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
                       max_depth=10, max_features='auto', max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=20, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=50,
                       n_jobs=None, oob_score=False, random_state=None,
                       verbose=0, warm_start=False)

In [58]:
metrics.recall_score(yts,model4.predict(xts))

0.47030878859857483

In [59]:
metrics.recall_score(ytr,model4.predict(xtr))

0.46410891089108913